<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button *ngIf="login==false" ion-button full (click)="irA('IniciarSesionPage')">Iniciar Sesión
  </button>
  <button *ngIf="login==false" ion-button full (click)="irA('CrearCuentaPage')" color="secondary">Crear cuenta</button>
  <button *ngIf="login" ion-button full color="warning" (click)="irA('TraerArticulosPage')">Articulos</button>
  <button *ngIf="login"ion-button full (click)="cerrarSesion()" color="danger">Cerrar Sesiòn</button>
</ion-content>
